* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-image: linear-gradient(120deg, #c31432, #240b36);
	color: white;
	min-height: 100vh;
}

html {
	font-size: 62.5%; /* 1 rem = 10px */
}

header {
	font-size: 2rem;
}

header,
form {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form input,
form button {
	padding: 1rem;
	font-size: 2rem;
	border: none;
	background: white;
}

form button {
	color: #240b36;
	background: white;
	cursor: pointer;
	transition: all 0.3s ease;
}

form button:hover {
	background-color: #240b36;
	color: white;
}

.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-list {
	min-width: 40%;
	list-style: none;
}

.todo {
	margin: 0.5rem;
	background: white;
	color: black;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todo li {
	flex: 1;
}

.trash-btn,
.complete-btn {
	background: #f8d7d9;
	color: #7a262d;
	border: none;
	padding: 1.5rem;
	cursor: pointer;
	font-size: 1rem;
}

.complete-btn {
	background: #d4edd9;
	color: #145824;
}

.todo-item {
	padding: 0rem 1rem;
}
